@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(img/popwall.jpg);
    background-attachment: fixed;
    background-size: cover;
}

nav{ 
    align-items: center;
    background-color:#08181ae3; 
    display: flex;
    justify-content: center;
    width: 100%;
}

#logo{
    width: 35%;
    padding: 30px 0px 10px 20px;
    justify-content: center;
}

.welcome{
    text-align: center;
    padding: 20px;
    font-size: 28px;
    background-color:  rgba(10, 52, 80, 0.137);
    /* background-color:  rgba(0, 2, 7, 0.5); */
}

.welcome p{
    color: #ffffff;
    font-weight: bold;
}
.welcome span{
    color:#2BB2BC;
}
.welcome span:hover{
    color: white;
}
#card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
    grid-template-rows: minmax(100px, auto);
}

.card-grid {
    background-color: rgba(10, 52, 80, 0.137);
    padding: 1em;
}

#card img{
    max-width: 220px;
    min-width: 190px;
    cursor: pointer;
}
    
.card-img
 {overflow:hidden;}
 
.card-img:hover img{
    -webkit-transform:scale(0.9);transform:scale(0.9);
    transition:all .5s ease-in-out;}

.container{
    background-color: #a3d1d3e8;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    border-radius: .30rem;
    margin:0.5em;
    place-items: center;
    min-height: 1px;

}

.card-content{
    justify-content: center;
}

p, h2, h3{
    color: rgb(14, 69, 114);
}

h3:hover{
    color:#2BB2BC;
}

span{
    color:#2BB2BC;
}

span:hover{
    color: rgb(14, 69, 114);
}

.addToCart{
    background-color: #ebbd29;
    font-weight: bold;
    font-size: 15px;
    border-color:#daba50;
    border-radius: .6em;
    color:white;
    width: 180px;
    height:45px;
    outline: none;
    cursor:pointer;
}
.addToCart:hover{
    background-color: #2BB2BC;
    border-color: #2BB2BC;
}